absl-py==0.6.1
aiohttp==3.4.4
ansicolors==1.1.8
appnope==0.1.0
astor==0.7.1
async-timeout==3.0.1
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
bleach==1.5.0
boto==2.49.0
boto3==1.9.42
botocore==1.12.42
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.4
Click==7.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Flask==0.12.2
future==0.17.1
gast==0.2.0
gensim==3.6.0
grpcio==1.11.1
gunicorn==19.6.0
h5py==2.8.0
html5lib==0.9999999
idna==2.7
idna-ssl==1.1.0
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.1
jieba==0.39
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
LiveWires==2.1
Markdown==3.0.1
MarkupSafe==1.1.0
mathparse==0.1.2
matplotlib==3.0.2
mistune==0.8.4
mlagents==0.5.0
more-itertools==4.3.0
multidict==4.4.2
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.3
notebook==5.7.0
numpy==1.14.5
oauthlib==2.1.0
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pluggy==0.8.0
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
py==1.7.0
pygame==1.9.4
Pygments==2.2.0
pymessenger==0.0.7.0
pymongo==3.7.2
pyparsing==2.3.0
pytest==3.10.1
python-dateutil==2.6.1
python-engineio==2.3.2
python-socketio==2.0.0
python-twitter==3.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.20.1
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
s3transfer==0.1.13
scipy==1.1.0
Send2Trash==1.5.0
six==1.11.0
smart-open==1.7.1
SQLAlchemy==1.2.14
tensorboard==1.7.0
tensorflow==1.15.4
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.4.2
yarl==1.2.6
